Django==3.2.16 # https://www.djangoproject.com/
psycopg2==2.9.5  # https://github.com/psycopg/psycopg2
pre-commit==2.20.0  # https://github.com/pre-commit/pre-commit
flake8==6.0.0  # https://github.com/PyCQA/flake8
black==22.10.0  # https://github.com/psf/black
isort==5.10.1  # https://github.com/timothycrosley/isort
django-crispy-forms==1.14.0  # https://github.com/django-crispy-forms/django-crispy-forms
django-extensions==3.2.1  # https://github.com/django-extensions/django-extensions
django-tables2==2.4.1  # https://github.com/jieter/django-tables2
django-filter==22.1  # https://github.com/carltongibson/django-filter
gunicorn==20.1.0  # https://github.com/benoitc/gunicorn
django-environ==0.9.0  # https://github.com/joke2k/django-environ
dj_database_url==1.0.0  # https://github.com/jazzband/dj-database-url
whitenoise==6.2.0  # https://github.com/evansd/whitenoise
