{% extends "checkin/base.html" %}

{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container py-5">
        <h1>Check-In</h1>
        {% crispy form %}
    </div>
    <div class="container py-5">
        <div class="d-flex">
            <div class="mr-auto p-2"><h3>Today's check-ins</h3></div>
            <div class="p-2 align-self-end">Total hours today: {{ total_today }}</div>
        </div>
        {% render_table table %}
    </div>
{% endblock %}
